<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Guantity:</strong>
    <%= order_detail.guantity %>
  </p>

  <p>
    <strong>Item price:</strong>
    <%= order_detail.item_price %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= order_detail.menu_id %>
  </p>

</div>
