<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_customer_order_path(@customer, @order) %> |
  <%= link_to "Back to orders", customer_orders_path(@customer) %>

  <%= button_to "Destroy this order", [@customer, @order], method: :delete %>
</div>
